body.login-body {
  background-color: rgb(57, 185, 188);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.login-outer-container {
  background-color: #081212;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  height: 60%;
  z-index: 1;
}

.logo-section {
  flex: 1;
  background-color: #292b2b;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ccs-logo {
  max-width: 90%;
  height: auto;
  aspect-ratio: 17/9;

  -webkit-user-drag: none;
}

.form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f1efef;
}

.form-section > h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 700;
  font-style: italic;

  color: #081212;
}


@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.form-button {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4285f4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition-duration: 250ms;

  font-size: large;
  font-weight: 500;
}

.form-button:hover {
  background-color: #357ae8;
}

.ccs-login {
  background-color: cyan;

  transition-duration: 250ms;
}

.ccs-login:hover {
  background-color: #07cfcf;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
  background-color: #292b2b;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}